vendor/*
/search/cmd/delta/delta
/tmp
coverage.out
docker-compose.override.yml
/test/search/tmp
.idea
.vscode
http-client.private.env.json
.DS_Store
__pycache__
.env
.next
node_modules
unit-tests.xml
.fleet
guestia.pub

parks.index
places.index

tmp